/* Personalizações gerais */
body,
html {
    height: 100vh;
    background-color: rgb(0, 27, 46);
    color: #fff;
    overflow: hidden;
}
/* Posiciona o formulário ao centro da tela */
#formLogin {
    position: relative;
    top: 200px;
    transition: 0.3s;
}

/* Div pai que contém a divs .left . right */
/* A div fica fora da tela antes da validação de login */
.view {
    position: absolute;
    top: 0px;
    left: 1200px;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 10px;
    align-items: center;
    transition: 0.3s;
}

/* Div que contém os usuarios cadastrados */
.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    height: 100%;
    background-color: rgba(41, 76, 96);
    color: #fff;
}

/* Posicionamento da mensagem de início */
.right>h6 {
    position: relative;
    top: 50%;
}

/* Div que contém o formulário de cadastro */
.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 20%;
    height: 100%;

}

/* Tabela de Cadastro */
#tabela {
    position: relative;
    text-align: center;
    width: 500px;
    top: 20px;
}

/* Linhas da tabela */
td,
th {
    flex-basis: 200px;

}


/* Input */
#nomeUser {
    cursor: pointer;
    width: 15rem;
    outline: none;
    border: none;
}

/* Formulario de inserimento */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

}
/* Botão do fomulario de cadastro */
form>button {
    border: none;
    margin-top: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 15rem;
}

/* Posiciona e personaliza icon */
form>i {
    position: absolute;
    left: 35%;
    top: 51%;
    font-size: 30px;
    overflow: hidden;
    pointer-events: none;
    color: black;
    background-color: #fff;

}

/* div que recebe mensagem de alerta  */
#alert {
    position: absolute;
    width: 300px;

}